@import "src/styles/utilities/variables";
@import "src/styles/utilities/mixins";

.articulo.articulo--invertido {
  .articulo-body {
    &__bajada {
      @include font-arial-2xs;
      color: map-get($grid-breakpoints, 700);
    }
  }

}

@media (min-width: map-get($grid-breakpoints, md)) {
  .articulo.articulo--invertido {
    .articulo__body {
      margin-bottom: 16px;
      order: 1;
    }

    .articulo__image {
      order: 2;
    }

    .articulo-body {
      padding: 0;

      &__titulo {
        @include font-global-xl-bold;
      }

      &__lead {
        color: inherit;
      }
    }
  }
}
