@import "src/styles/utilities/variables";
@import "src/styles/utilities/mixins";

.articulo.articulo--bajada {
  .articulo-body {
    &__bajada {
      display: none;
      @include font-arial-2xs;
      color: map-get($grid-breakpoints, 700);
    }
  }
}


@media (min-width: map-get($grid-breakpoints, md)) {
  .articulo.articulo--bajada {
    .articulo__image {
      display: none;
    }

    .articulo-body {
      & > * {
        margin-bottom: 16px;
      }

      &__titulo {
        @include font-global-m;
      }

      &__bajada {
        display: block;
      }
    }
  }
}
