@import "src/styles/utilities/variables";
@import "src/styles/utilities/mixins";

@import "articulo-author";
@import "articulo-bajada";
@import "articulo-invertido";

.articulo {
  &__image {
    border: 1px solid map-get($light-neutral, 400);
  }
}

.articulo-body {
  padding: 8px 16px;

  & > * {
    margin-bottom: 8px;
  }

  &__titulo {
    @include font-global-m;
    color: map-get($light-neutral, 900);

  }

  &__lead {
    color: map-get($light-blue, 500);
  }

  &__small {
    @include font-arial-4xs-bold;
    color: map-get($light-neutral, 800);
  }
}

.articulo-image {
  &__image {
    width: 100%;
    height: auto;
    vertical-align: middle;
  }
}

@media (min-width: map-get($grid-breakpoints, md)) {
  .articulo {
    display: flex;
    flex-direction: column;

    &__image {
      margin-bottom: 8px;
    }

    &__body {
      padding: 0 0 8px;
    }
  }

  .articulo.articulo--lg {
    .articulo-body {
      &__titulo {
        @include font-global-l-bold();
      }
    }
  }

  .articulo.articulo--sm {
    .articulo-body {
      &__titulo {
        @include font-global-xs();
      }
    }
  }
}
