@import "src/styles/utilities/variables";
@import "src/styles/utilities/mixins";

.articulo.articulo--autor {
  position: relative;
  margin-left: 16px;
  margin-right: 16px;
  border: 1px solid map-get($light-neutral, 400);

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 80px;
    height: 1px;
    background: map-get($light-neutral, 600);
  }

  .articulo-body {
    padding: 16px;
    text-align: center;

    &__titulo {
      @include font-global-m;
    }
    .articulo-autor {
      margin: 0;
    }
  }
}

.articulo-autor {
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  &__image {
    width: 80px;
    height: 80px;
    border-radius: 50%;

    margin-bottom: 8px;
  }

  &__name {
    @include font-arial-2xs-bold;
    text-align: center;
  }
}

@media (min-width: map-get($grid-breakpoints, md)) {
  .articulo.articulo--autor {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .articulo.articulo--autor {
    .articulo-body {
      &__titulo {
        margin-bottom: 38px;
      }
    }
  }
}
