@import "src/styles/utilities/variables";
$section-padding-x: 16px;

.seccion {
  max-width: 920px + ($section-padding-x * 2);
  padding: 0;
  margin: 32px auto;
}

@media (min-width: map-get($grid-breakpoints, md)) {
  .seccion {
    padding: 0 $section-padding-x;
  }
}
