// FONT MIXINS
@mixin font-global-xs {
  font-family: 'SuecaSlab', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;

  letter-spacing: -0.2px;
}

@mixin font-global-m {
  font-family: 'SuecaSlab', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;

  letter-spacing: -0.2px;
}

@mixin font-global-l-bold {
  font-family: 'SuecaSlab', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;

  letter-spacing: -0.4px;
}

@mixin font-global-xl-bold {
  font-family: 'SuecaSlab', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;

  letter-spacing: -0.4px;
}

@mixin font-arial-4xs-bold {
  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

@mixin font-arial-2xs {
  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

@mixin font-arial-2xs-bold {
  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
