//Colors
$light-blue: (
    200: #BEE4FF,
    500: #0074C4,
);

$light-neutral: (
    400: #CCCCCC,
    600: #5A5A5A,
    700: #333333,
    800: #272727,
    900: #1C1C1F
);

//Breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1920px
);
