@import "src/styles/utilities/variables";
@import "src/styles/utilities/mixins";

.seccion-articulos {

  &__titulo {
    margin: 0 16px;
    @include font-global-l-bold;

    color: map-get($light-neutral, 900);
  }

  &__link {
    transition: color ease-in-out 300ms;
    &:hover {
      color: map-get($light-blue, 500);
    }
  }

  &__contenedor {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

.separador {
  border: none;
  background: map-get($light-neutral, 400);
  margin: 8px 16px 16px;
  height: 1px;
}

@media (min-width: map-get($grid-breakpoints, md)) {
  .seccion-articulos {
    display: block;

    &__titulo {
      margin: 0;
    }

    &__contenedor {
      $contenedor-gap: 16px;
      $contenedor-item-per-line: 3;

      display: flex;
      flex-flow: row wrap;
      align-items: self-start;
      gap: 32px $contenedor-gap;

      & > * {
        $empty-gap-space: ($contenedor-gap * ($contenedor-item-per-line - 1)) / $contenedor-item-per-line;

        flex-basis: calc(#{percentage(1 / $contenedor-item-per-line)} - #{$empty-gap-space});
      }
    }

  }
  .separador {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .seccion-articulos {
    &__contenedor {
      $contenedor-gap: 40px;
      $contenedor-item-per-line: 3;

      gap: 32px $contenedor-gap ;

      & > * {
        $empty-gap-space: ($contenedor-gap * ($contenedor-item-per-line - 1)) / $contenedor-item-per-line;

        flex-basis: calc(#{percentage(1 / $contenedor-item-per-line)} - #{$empty-gap-space});
      }
    }

  }
}
