@import "src/styles/utilities/variables";
@import "src/styles/utilities/mixins";

.seccion-focal-izquierdo {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    left: 0;
    right: 6px;

    background: map-get($light-neutral, 400);

  }

  &__titulo {
    margin: 0 16px;
    @include font-global-l-bold;

    color: map-get($light-neutral, 900);
  }

  &__link {
    transition: color ease-in-out 300ms;
    &:hover {
      color: map-get($light-blue, 500);
    }
  }

  &__principal {
    margin-bottom: 32px;
  }

  &__secundario {
    display: flex;
    flex-direction: column;
    gap: 32px 0;
    padding-bottom: 32px;
  }
}

@media (min-width: map-get($grid-breakpoints, md)) {
  .seccion-focal-izquierdo {
    margin-bottom: 32px;

    &__titulo {
      display: none;
    }

    .separador {
      display: none;
    }

    &__contenedor {
      display: flex;
      flex-direction: row;
      gap: 32px 0;
      padding-bottom: 32px;
    }

    &__principal {
      position: relative;
      flex: 1 1 65%;
      padding-right: 16px;
      margin-right: 16px;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 1px;
        background: map-get($light-neutral, 400);
      }
    }

    &__secundario {
      flex: 1 1 35%;
      padding-bottom: 0;
    }
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .seccion-focal-izquierdo {
    &__principal {
      padding-right: 40px;
      margin-right: 40px;
    }
  }
}
