@font-face {
  font-family: "SuecasLab";
  font-weight: bold;
  src: url(../../assets/fonts/suecaslab-bold.woff2) format("woff2"),
  url(../../assets/fonts/suecaslab-bold.woff) format("woff"),
  url(../../assets/fonts/suecaslab-bold.ttf) format("ttf");
}

@font-face {
  font-family: "SuecasLab";
  font-weight: normal;
  src: url(../../assets/fonts/suecaslab-medium.woff2) format("woff2"),
  url(../../assets/fonts/suecaslab-medium.woff) format("woff"),
  url(../../assets/fonts/suecaslab-medium.ttf) format("ttf");
}
